<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <add name="ThrowExceptionTraceListener" type="TestProject2.ThrowExceptionTraceListener, TestProject2" />
      </listeners>
    </trace>
    <assert assertuienabled="false" />
  </system.diagnostics>
</configuration>